/* Utilitaire *****************/
.squared-card {
  border-radius: 0%;
}

@font-face {
  font-family: glyphicons-regular;
  src: url(fonts/glyphicons-halflings-regular.woff)
}

/* Utilitaire *****************/
.custom-toggler {
  border: none;
  background: transparent !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280,0,0,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.acceuil-section {
  background: url("images/bg_header.jpg") no-repeat center center/cover;
  background-color: grey;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.acceuil-section .logo {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 50px;
}

.custom-card {
  margin-top: -200px;
  /* Ajustez cette valeur selon vos besoins */
}

/* about section  **************************/
.about-section {
  background: url("images/bg_nuage.jpg") no-repeat center center/cover;
  height: 70vh;
}

/*Section voyage**************************/
.about-voyage {
  background: url("images/1200.jpeg") no-repeat center center/cover;
  height: 50vh;
}

/* section camera **************************/
.about-camera {
  background: url("images/bg_appareil_photo.jpg") no-repeat center center/cover;
  height: 100%;
  width: 100%;
}

/* section newsleter **************************/
.about-newsleter {
  background: url("images/bg_newsletter.jpg") no-repeat center center/cover;
  height: 40vh;
  backdrop-filter: blur(50px);
}
